body{
	position: relative;
	background: whitesmoke;
	background-size: cover;
	background-position: center;
	font-family: "New Tegomin",serif;
	height: 100%;
	margin: 0;
	touch-action: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
}
#title{
	font-family: sans-serif;
	text-align: center;
}
.wrapper{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.btnlink{
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.btnlink span {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	padding: 1em 2em;
	width: 300px;
	color: #2285b1;
	font-size: 18px;
	font-weight: 700;
	border: 2px solid #2285b1;
	transition: 0.3s;
	text-decoration: none;
}
.btnlink span::after {
	content: '';
	width: 5px;
	height: 5px;
	border-top: 3px solid #2285b1;
	border-right: 3px solid #2285b1;
	transform: rotate(45deg);
}
.btnlink span:hover {
	color: whitesmoke;
	text-decoration: none;
	background-color: #2285b1;
}
.btnlink span:hover::after {
	border-top: 3px solid whitesmoke;
	border-right: 3px solid whitesmoke;
}
#mainLogo{
	width: 80vw;
}
.menu{
	position: absolute;
	width: 3.3em;
	right: 0;
}
input{
	display: none;
}
#men:checked ~ span{
	background-color: rgba(255,255,255,0);
}
#men:checked ~ span:before{
	bottom: 0;
	transform: rotate(45deg);
}
#men:checked ~ span:after{
	top: 0;
	transform: rotate(-45deg);
}
#burger,#burger:before,#burger:after{
	content: "";
	position: absolute;
	display: block;
	width: 3.3em;
	height: .66em;
	border-radius: .1em;
	background: white;
	transition: .5s;
}
#burger{
	top: 2.295em;
}
#burger:before{
	bottom: 1.32em;
}
#burger:after{
	top: 1.32em;
}
#picbt:checked ~ div{
	background: blue;
}
#chr{
	position: absolute;
	z-index: 1;
	bottom: 0;
	right: 6em;
	height: 80%;
}
.txt{
	font-size: 2em;
	color: white;
}
.msgb{
	line-height: 1.1;
	border-radius: 1em;
	height: auto;
	min-height: 3.3em;
	background: rgba(0,0,0,.8);
	margin: 8px;
	padding: .975em;
	z-index: 2;
}
#txt{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}
.msgb:not(#txt){
	background: rgba(0,0,0,.9);
}
.opt{
	width: 1em;
}
tr{
	line-height: 1;
}
@media screen and (max-width: 1024px) and (hover: none) and (pointer: coarse){
	.btnlink span{
		transform: scale(2) translate(0,0);
	}
	#chr{
		bottom: 4em;
		right: 9em;
		height: 40%;
	}
}
@keyframes fadein{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
@keyframes fadeout{
	0%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}
